@{
    ViewData["Title"] = "Locked Out";
}

<header>
    <h1 class="text-danger">Your account is locked out.</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header><a href="c:\users\ana1a\desktop\08.09final\inventory-main\views\auth\lockout.cshtml">c:\users\ana1a\desktop\08.09final\inventory-main\views\auth\lockout.cshtml</a>